<!-- 继承模板 -->
{%  extends 'layout.html'  %}

<!-- 子模版重写  -->
{% block main %}

<div class="top breadcrumb clear ">
    <span><a href="/admin/course">课程列表</a></span> /
    <span class="active">添加课程</span>
</div>

<div class="body">
    <form class="courseForm" method="post">
        <div class="form-group">
            <label for="name">课程名称：</label>
            <input type="text" class="form-control" id="name" placeholder="请输入课程名称" name="name" required="required">
        </div>
        <div class="form-group">
            <label for="money">课程价格：</label>
            <input type="text" class="form-control" id="money" placeholder="请输入课程价格" name="money" required="required" onkeyup= "if( ! /^-?\d+\.?\d{0,2}$/.test(this.value)){ var s = this.value;this.value=s.substring(0,s.length-1);}">
        </div>
        <div class="form-group" style="height: 430px; width: 910px; ">
            <label for="img">选择图片：(请选择正方形图片，建议是大于或等于750*750尺寸)</label>
            <!--<input type="file" id="uploadImg" class="form-control uploadImg">
            <input type="hidden"  id="img" placeholder="请输入课程名称" name="img">-->
            <textarea id="img"  placeholder="请输入文章内容" name="img" style="width:100%; height: 350px; max-height:382px;"></textarea>
        </div>
        <div class="form-control showImg"></div>
        <div class="form-group" style="width: 910px;">
            <label for="details">课程详情：</label>
            <textarea id="details"  placeholder="请输入文章内容" name="details" style="width:100%; height:600px;max-height:664px;"></textarea>
        </div>
        <button type="submit" class="btn blueBtn">保存</button>
    </form>

</div>

<script type="text/javascript">

    var editor1 = new wangEditor('img');
    // 上传文件路径
    editor1.config.uploadImgUrl = '/api/upload';
    // 普通的自定义菜单
    editor1.config.menus = [
        'img'
    ];
    // 关闭菜单栏fixed
    editor1.config.menuFixed = false;

    editor1.create();


    var editor2 = new wangEditor('details');
    // 上传文件路径
    editor2.config.uploadImgUrl = '/api/upload';
    // 关闭菜单栏fixed
    editor2.config.menuFixed = false;
    // 表情显示项
    editor2.config.emotionsShow = 'value';
    editor2.config.emotions = {
        'default': {
            title: '默认',
            data: '/public/wangEditor/emotions.data'
        },
        'weibo': {
            title: '微博表情',
            data: [
                {
                    icon: 'http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/7a/shenshou_thumb.gif',
                    value: '[草泥马]'
                },
                {
                    icon: 'http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/60/horse2_thumb.gif',
                    value: '[神马]'
                },
                {
                    icon: 'http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/bc/fuyun_thumb.gif',
                    value: '[浮云]'
                },
                {
                    icon: 'http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/c9/geili_thumb.gif',
                    value: '[给力]'
                },
                {
                    icon: 'http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/f2/wg_thumb.gif',
                    value: '[围观]'
                },
                {
                    icon: 'http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/70/vw_thumb.gif',
                    value: '[威武]'
                }
            ]
        }
    };


    editor2.create();

    // 避免上面编辑器的 dropPanel 被下面的编辑器遮挡，保证下面的编辑器的 z-index 要小于上面的编辑器
    editor1.$editorContainer.css('z-index', 20)
    editor2.$editorContainer.css('z-index', 10)
</script>


{% endblock %}