<!-- 继承模板 -->
{%  extends 'layout.html'  %}

<!-- 子模版重写  -->
{% block main %}

<div class="top breadcrumb clear ">
    <span><a href="/admin/quiz">问答列表</a></span> /
    <span class="active">添加问题</span>
</div>

<div class="body">
    <form  method="post">
        <div class="form-group">
            <label for="title">问题内容：</label><br>
            <textarea class="form-control text" id="title" style="width: 910px;" rows="5" placeholder="请在这里概述您的问题" name="title" required="required"></textarea>
        </div>
        <div class="form-group" style="width: 910px; ">
            <label for="description">补充问题：（您可在这里继续补充问题细节）</label>
            <textarea id="description"  placeholder="您可在这里继续补充问题细节" name="description" style="width:100%; height: 500px; max-height:532px;"></textarea>
        </div>

        <button type="submit" class="btn blueBtn">保存</button>
    </form>

</div>

<script type="text/javascript">

    var editor = new wangEditor('description');
    // 上传文件路径
    editor.config.uploadImgUrl = '/api/upload';
    // 关闭菜单栏fixed
    editor.config.menuFixed = false;
    // 自定义菜单
    editor.config.menus = [
        'bold',
        'underline',
        'italic',
        'eraser',
        'forecolor',
        'bgcolor',
        '|',
        'quote',
        'fontfamily',
        'fontsize',
        'head',
        'alignleft',
        'aligncenter',
        'alignright',
        '|',
        'link',
        'unlink',
        'img',
        '|',
        'undo',
        'redo',
        'fullscreen'
    ];

    editor.create();
</script>


{% endblock %}