<!-- 继承模板 -->
{%  extends 'layout.html'  %}

<!-- 子模版重写  -->
{% block main %}

<div class="top clear">
    <h3 class="fl title">用户管理</h3>
    <a class="fr addBtn" href="/admin/usersList/add">+ 添加管理员</a>
</div>

<div class="body">
    <div class="query">
        <form method="post" class="quiz-form clear">
            <input type="text" name="search" class="fl" placeholder="请输入用户名" value="{{search}}">
            <button type="submit" class="btn blueBtn fr">搜索</button>
        </form>
    </div>
    <table class="usersList">
        <thead>
            <tr>
                <th width="35%">用户ID</th>
                <th width="35%">用户名</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{user._id.toString()}}</td>
                <td>{{user.username}}</td>
                <td>
                    <a href="/admin/usersList/detail?id={{user._id.toString()}}" class="btn greenBtn">查看详情</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    {% if users.length== 0  %}
    <div class="noData">目前还没有用户数据呦~</div>
    {% endif %}

</div>

{% if pageNum>1 %}
<!-- 引入子集 -->
{% include 'pager.html' %}

{% endif %}

{% endblock %}