

<!-- 继承模板 -->
{%  extends 'layout.html'  %}

<!-- 子模版重写  -->
{% block main %}




<header>
    <a href="/personal" class="return"><img src="/public/dist/images/main/icon_return.png"></a>
    <div class=" header-title">
        <strong>干货收藏</strong>
    </div>
</header>
<div class="container page-top-bottom">
    <!--<h3 class="con-title"><span></span>干货精选</h3>-->
    {% if materialList.length>0 %}
    <div class="materialBox  clear">
        {% for material in materialList %}
        <!--<a href="/material/detail?id={{material._id.toString()}}" class="materialItem clear">-->
        <div  class="materialItem clear">
            <a href="/material/detail?id={{material._id.toString()}}">
                <div class="itemTag imgParent fl">
                    <img class="showImg"  src="" data-url="{{material.img}}" alt="">
                    <div class="imgContent" style="display: none;">{{material.content}}</div>
                </div>
            </a>
            <div class="itemCon fl">
                <a href="/material/detail?id={{material._id.toString()}}">
                    <h4>{{material.title}}</h4>
                    <p>{{material.description}}</p>
                </a>

                {% if material.isCollect %}
                <a href="/material/collect/delete?id={{material._id.toString()}}" class="icon icon-collect active"><i></i><span>{{material.collector.length}}</span></a>
                {% else %}
                <a href="/material/collect/add?id={{material._id.toString()}}" class="icon icon-collect"><i></i><span>{{material.collector.length}}</span></a>
                {% endif %}

                <div class="icon icon-eye active">
                    <i></i><span>{{material.views}}</span>
                </div>

            </div>
        </div>
        <!--</a>-->
        {% endfor %}



    </div>
    {% else %}
    <div class="tipText">您还没有收藏过干货哦~</div>
    {% endif%}
</div>
<script>
    $(function () {
        // 图片设置
        var $img = $('.showImg');
        $.each($img, function (eq,item) {
            var src;
            if ($(this).attr('data-url') == ''){
                src = showImg($(this).next('.imgContent').html());
            }else{
                src = showImg($(this).attr('data-url'));
            }
            if(src == ''){
                src='/public/dist/images/main/content/0.jpg';
            }
            $(this).attr('src',src);
            limitImg($(this),$('.imgParent')); // 大小控制
        });

    });
</script>
<!-- 引入子集 -->
{% include 'footer.html' %}
{% endblock %}



